<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NuCypher Electronic Health Records</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="static/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="static/css/style.min.css" rel="stylesheet">
</head>

<body class="grey lighten-3">

    <!--Main Navigation-->
    <header>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">
                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="#"
                    target="_blank">
                    <strong class="blue-text">Electronic Health Records (EHR) - Documentation</strong>
                </a>
                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded waves-effect"
                                target="_blank">
                                <i class="fa fa-github mr-2"></i>EHR GitHub
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">
            <a class="logo-wrapper waves-effect">
                <img src="static/img/svg/nucypher_logo.svg" style="max-height: 200px;" class="img-fluid" alt="">
            </a>
            <div class="list-group list-group-flush">
                <a href="profile" class="list-group-item list-group-item-action waves-effect active">
                    <i class="fa fa-user mr-3"></i>Profile</a>
                {% if (login == "Alice") %}
                <a href="#" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-table mr-3"></i>Activities & food</a>   
                {% endif %} 
                <a href="editdata" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-table mr-3"></i>Edit data</a>
                <a href="/" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-money mr-3"></i>Log out</a>
            </div>
        </div>
        <!-- Sidebar -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">
            <!-- Heading -->
            <div class="card mb-4 wow fadeIn">
                <!--Card content-->
                <div class="card-body d-sm-flex justify-content-between">
                    <h4 class="mb-2 mb-sm-0 pt-1">
                        <a href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">Home</a>
                        <span>/</span>
                        <span>Profile</span>
                    </h4>
                    <div class="d-flex justify-content-center mb-2">
                <h4>{{parsed_string["Name"]}} {{parsed_string["Birth"]}}</h4>
                </div>
                </div>
                
            </div>
            <!-- Heading -->


            <!--Grid row-->
            <div class="row wow fadeIn">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4">
                    <form class="border border-light p-5 addactivity-frm">
                        <p class="h4 mb-4 text-center">Activities</p>
                        <label for="Date1">Date</label>
                        <input type="text" name="Date" id="Date1" class="form-control mb-4" placeholder="dd.mm.yyyy">
                        <select class="browser-default custom-select mb-4" id="select1" name="Time">
                            <option value="" disabled="" selected="">Time</option>
                            <option value="08:00">08:00</option>
                            <option value="12:00">12:00</option>
                            <option value="16:00">16:00</option>
                            <option value="20:00">20:00</option>
                            <option value="0:00">0:00</option>
                        </select>
                        <select class="browser-default custom-select mb-4" id="select2" name="Activity">
                            <option value="" disabled="" selected="">Activity</option>
                            <option value="50">Training</option>
                            <option value="10">Sleeping</option>
                            <option value="30">Working</option>
                            <option value="20">Relax</option>
                        </select>
                        <button class="btn btn-info btn-block my-4" id="addactivity-btn" type="submit">Add activity</button>
                    </form>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4">
                    <form class="border border-light p-5 addfood-frm">
                        <p class="h4 mb-4 text-center">Add food</p>
                        <label for="Date2">Date</label>
                        <input type="text" name="Date" id="Date2" class="form-control mb-4" placeholder="dd.mm.yyyy">
                        <div class="custom-control custom-checkbox mb-4">
                            <input type="checkbox" class="custom-control-input" id="Hamburger" name="Fast food" value="10">
                            <label class="custom-control-label" for="Hamburger">Hamburger</label>
                        </div>
                        <div class="custom-control custom-checkbox mb-4">
                            <input type="checkbox" class="custom-control-input" id="Soup" name="Grow food" value="10">
                            <label class="custom-control-label" for="Soup">Soup</label>
                        </div>   
                        <div class="custom-control custom-checkbox mb-4">
                            <input type="checkbox" class="custom-control-input" id="Beer" name="Alcohol" value="10">
                            <label class="custom-control-label" for="Beer">Beer</label>
                        </div>
                        <div class="custom-control custom-checkbox mb-4">
                            <input type="checkbox" class="custom-control-input" id="Water" name="Drinks" value="10">
                            <label class="custom-control-label" for="Water">Water</label>
                        </div>
                        <button class="btn btn-info btn-block my-4" id="addfood-btn" type="submit">Add food</button>
                    </form>
                </div>
                <!--Grid column-->            
            </div>
            <!--Grid row-->
        </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">
        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2018 Copyright:
            <a href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank">NuCypher</a>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="static/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="static/js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>

    

    <!--Google Maps-->
    <script src="https://maps.google.com/maps/api/js"></script>
    <script>
	  //Add activity data
      $(function() {
        $('#addactivity-btn').click(function() {
          $.ajax({
            url: 'addactivity',
            data: $('.addactivity-frm').serialize(),
            type: 'POST',
            success: function(response) {
              alert("Success");
            },
            error: function(error) {
              alert("Error");;
            }
          });
        });
      });	
      //Add food data
      $(function() {
        $('#addfood-btn').click(function() {
          $.ajax({
            url: 'addfood',
            data: $('.addfood-frm').serialize(),
            type: 'POST',
            success: function(response) {
              alert("Success");
            },
            error: function(error) {
              alert("Error");;
            }
          });
        });
      });	
    </script>
    <script>
        // Regular map
        function regular_map() {
            var var_location = new google.maps.LatLng(40.725118, -73.997699);

            var var_mapoptions = {
                center: var_location,
                zoom: 14
            };

            var var_map = new google.maps.Map(document.getElementById("map-container"),
                var_mapoptions);

            var var_marker = new google.maps.Marker({
                position: var_location,
                map: var_map,
                title: "New York"
            });
        }

        // Initialize maps
        google.maps.event.addDomListener(window, 'load', regular_map);
    </script>

</body>

</html>
