<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NuCypher Electronic Health Records</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="static/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="static/css/style.min.css" rel="stylesheet">
</head>

<body class="grey lighten-3">

    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="#"
                    target="_blank">
                    <strong class="blue-text">Electronic Health Records (EHR) - Documentation</strong>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <!--<li class="nav-item">
                            <a class="nav-link waves-effect" href="https://mdbootstrap.com/getting-started/" target="_blank">Free
                                download</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank">Free
                                tutorials</a>
                        </li>-->
                    </ul>

                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded waves-effect"
                                target="_blank">
                                <i class="fa fa-github mr-2"></i>EHR GitHub
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->

        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">

            <a class="logo-wrapper waves-effect">
                <img src="static/img/svg/nucypher_logo.svg" style="max-height: 200px;" class="img-fluid" alt="">
            </a>

            <div class="list-group list-group-flush">
               <!-- <a href="#" class="list-group-item active waves-effect">
                    <i class="fa fa-pie-chart mr-3"></i>EHR
                </a> -->
                <a href="#" class="list-group-item list-group-item-action waves-effect active">
                    <i class="fa fa-user mr-3"></i>Profile</a>
                <a href="#" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-table mr-3"></i>Edit data</a>
                <a href="#" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-money mr-3"></i>Log out</a>
            </div>

        </div>
        <!-- Sidebar -->

    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">

            <!-- Heading -->
            <div class="card mb-4 wow fadeIn">

                <!--Card content-->
                <div class="card-body d-sm-flex justify-content-between">

                    <h4 class="mb-2 mb-sm-0 pt-1">
                        <a href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">Home</a>
                        <span>/</span>
                        <span>Profile</span>
                    </h4>
                    <div class="d-flex justify-content-center mb-2">
                <h4>{{parsed_string["Name"]}} {{parsed_string["Birth"]}}</h4>
                </div>
                </div>
                
            </div>
            <!-- Heading -->


 <!--Grid row-->
            <div class="row wow fadeIn">
             <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4">
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Add activity</strong>
    </h5>

    <div class="card-body px-lg-5 pt-0">

        <form class="md-form" style="color: #757575;" action="{{ url_for('addactivity') }}" method="post">


            <label for="Date">Date (dd.mm.yyyy)</label>
            <input type="text" id="Date" class="form-control" placeholder="">

            <div>
                <select class="mdb-select md-form mb-4 initialized" id="select">
                    <option value="" disabled selected>Time</option>
                    <option value="08:00">08:00</option>
                    <option value="12:00">12:00</option>
                    <option value="16:00">16:00</option>
                    <option value="20:00">20:00</option>
                    <option value="0:00">0:00</option>
                </select>
            </div>
            <div>
                <select class="mdb-select md-form mb-4 initialized" id="select">
                    <option value="" disabled selected>Activity</option>
                    <option value="sport">Training</option>
                    <option value="walking">Walking</option>
                    <option value="sleep">Sleeping</option>
                    <option value="working">Working</option>
                    <option value="relax">Relax</option>
                </select>
            </div>
           <!-- <div class="form-check mb-4">
				<label class="form-check-label" for="checkbox">Material checkbox</label>
                <input type="checkbox" class="form-check-input" id="checkbox">  
            </div>

            <div class="form-check mb-4">
                <input type="radio" class="form-check-input" id="radiobtn" name="defaultName">
                <label class="form-check-label" for="radiobtn">Textarea Label</label>
            </div>-->


            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Add</button>
        </form>
    </div>
</div>
                   

                </div>
                <!--Grid column-->
            
            
            <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4">

                   <form class="border border-light p-5" action="{{ url_for('addanalises') }}" method="post">

    <div class="text-center">
        <p class="h4 mb-4">Blood test result</p>
    </div>

    <input class="form-control mb-4" id="Red blood cell" type="text" placeholder="Red blood cell">

    <input class="form-control mb-4" id="Hemoglobin" type="email" placeholder="Hemoglobin">

    <input class="form-control mb-4" id="Hematocrit" type="text" placeholder="Hematocrit">

    <input class="form-control mb-4" id="White blood cell count" type="text" placeholder="White blood cell count">

    <input class="form-control mb-4" id="Platelet count" type="text" placeholder="Platelet count">

    <label for="Date">Date</label>
    <input type="text" id="Date" class="form-control mb-4" placeholder="dd.mm.yyyy">

    <button class="btn btn-info btn-block" type="submit">Add result</button>
</form>

                </div>
                <!--Grid column-->
            
            </div>
            <!--Grid row-->



            <!--Grid row-->
            <div class="row wow fadeIn">
             <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4">

                   

                </div>
                <!--Grid column-->
            
            
            <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4">

                   

                </div>
                <!--Grid column-->
            
            </div>
            <!--Grid row-->
            
            
           

        </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">

        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2018 Copyright:
            <a href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank">NuCypher</a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="static/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="static/js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>

    

    <!--Google Maps-->
    <script src="https://maps.google.com/maps/api/js"></script>
    <script>
        // Regular map
        function regular_map() {
            var var_location = new google.maps.LatLng(40.725118, -73.997699);

            var var_mapoptions = {
                center: var_location,
                zoom: 14
            };

            var var_map = new google.maps.Map(document.getElementById("map-container"),
                var_mapoptions);

            var var_marker = new google.maps.Marker({
                position: var_location,
                map: var_map,
                title: "New York"
            });
        }

        // Initialize maps
        google.maps.event.addDomListener(window, 'load', regular_map);
    </script>

</body>

</html>
