<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NuCypher Electronic Health Records</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="static/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="static/css/style.min.css" rel="stylesheet">
</head>

<body class="grey lighten-3">

    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="#"
                    target="_blank">
                    <strong class="blue-text">Electronic Health Records (EHR) - Documentation</strong>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">

                        <!--<li class="nav-item">
                            <a class="nav-link waves-effect" href="https://mdbootstrap.com/getting-started/" target="_blank">Free
                                download</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank">Free
                                tutorials</a>
                        </li>-->
                    </ul>

                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded waves-effect"
                                target="_blank">
                                <i class="fa fa-github mr-2"></i>EHR GitHub
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->

        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">

            <a class="logo-wrapper waves-effect">
                <img src="static/img/svg/nucypher_logo.svg" style="max-height: 200px;" class="img-fluid" alt="">
            </a>

            <div class="list-group list-group-flush">
               <!-- <a href="#" class="list-group-item active waves-effect">
                    <i class="fa fa-pie-chart mr-3"></i>EHR
                </a> -->
                <a href="#" class="list-group-item list-group-item-action waves-effect active">
                    <i class="fa fa-user mr-3"></i>Profile</a>
                {% if (login == "Alice") %}
                <a href="activity" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-table mr-3"></i>Activities & food</a> 
                {% endif %}
                <a href="editdata" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-table mr-3"></i>Edit data</a>
                <a href="/" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-money mr-3"></i>Log out</a>
            </div>

        </div>
        <!-- Sidebar -->

    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">

            <!-- Heading -->
            <div class="card mb-4 wow fadeIn">

                <!--Card content-->
                <div class="card-body d-sm-flex justify-content-between">

                    <h4 class="mb-2 mb-sm-0 pt-1">
                        <a href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">Home</a>
                        <span>/</span>
                        <span>Profile</span>
                    </h4>
                    <div class="d-flex justify-content-center mb-2">
                <h4>{{parsed_string["Name"]}} {{parsed_string["Birth"]}}</h4>
                </div>
                </div>
                
            </div>
            <!-- Heading -->

           
            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <div class="card-body">

                            <!-- Table  -->
                            <table class="table table-hover">
                                <!-- Table head -->
                                <thead class="blue-grey lighten-4">
                                    <tr>
                                        <th>#</th>
                                        <th>Procedure</th>
                                        <th>Date</th>
                                        <th>Doctor</th>
                                        <th>Remark</th>
                                    </tr>
                                </thead>
                                <!-- Table head -->

                                <!-- Table body -->
                                <tbody>
									{% for n in parsed_string["History"] %}
									
                                    <tr>
                                        <th scope="row">{{n["Num"]}}</th>
                                        <td>{{n["Procedure"]}}</td>
                                        <td>{{n["Date"]}}</td>
                                        <td>{{n["Doctor"]}}</td>
                                        <td>{{n["Remark"]}}</td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                                <!-- Table body -->
                            </table>
                            <!-- Table  -->

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

                

            </div>
            <!--Grid row-->
            {% if (login == "Alice") %}
            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">Activity</div>

                        <!--Card content-->
                        <div class="card-body">

                            <canvas id="lineChart"></canvas>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

               

                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">Food</div>

                        <!--Card content-->
                        <div class="card-body">

                            <canvas id="doughnutChart"></canvas>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
            {% endif %}
            <!--Grid row-->
            <div class="row wow fadeIn">
             <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">Blood test result</div>

                        <!--Card content-->
                        <div class="card-body">

                            <canvas id="radarChart"></canvas>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->
            
            {% if (login != "Lab") %}
            <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">Health Vector</div>

                        <!--Card content-->
                        <div class="card-body">

                            <canvas id="vectorChart"></canvas>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->
            {% endif %}
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row wow fadeIn">


                <!--Grid column-->
                <div class="col-md-6 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Section: Modals-->
                        <section>
                            <!-- Side Modal Bottom Left Warning-->
                            <div class="modal fade left" id="sideModalBLWarningDemo" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog modal-side modal-bottom-left modal-notify modal-warning" role="document">
                                    <!--Content-->
                                    <div class="modal-content">
                                        <!--Header-->
                                        <div class="modal-header">
                                            <p class="heading">Warning</p>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" class="white-text">&times;</span>
                                            </button>
                                        </div>

                                        <!--Body-->
                                        <div class="modal-body">

                                            <div class="row">
                                                <div class="col-3 text-center">
                                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg"
                                                        alt="Michal Szymanski - founder of Material Design for Bootstrap"
                                                        class="img-fluid z-depth-1-half rounded-circle">
                                                    <div style="height: 10px"></div>
                                                    <p class="title mb-0">Jane</p>
                                                    <p class="text-muted " style="font-size: 13px">Doctor</p>
                                                </div>

                                                <div class="col-9">
                                                    <p>You can sign up for a consultation with a doctor at any time.</p>
                                                    <p class="card-text">
                                                        <strong>Get tested for free!</strong>
                                                    </p>
                                                </div>
                                            </div>


                                        </div>

                                        <!--Footer-->
                                        <div class="modal-footer justify-content-center">
                                            <a role="button" class="btn btn-warning">Sign up
                                       
                                            </a>
                                            <a role="button" class="btn btn-outline-warning waves-effect" data-dismiss="modal">No,
                                                thanks</a>
                                        </div>
                                    </div>
                                    <!--/.Content-->
                                </div>
                            </div>
                            <!-- Side Modal Bottom Left Warning-->
                        </section>
                        <!--Section: Modals-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">

        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2018 Copyright:
            <a href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank">NuCypher</a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="static/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="static/js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>

    <!-- Charts -->
    <script>
        function getRandomRgba(opacity) {
           var num = Math.round(0xffffff * Math.random());
           var r = num >> 16;
           var g = num >> 8 & 255;
           var b = num & 255;
           return 'rgba(' + r + ', ' + g + ', ' + b + ', .' + opacity + ')';
        }

        //line
        var ctxL = document.getElementById("lineChart").getContext('2d');
        //var parsed_string = {{parsed_string["Activity"]}}
        var myLineChart = new Chart(ctxL, {
            type: 'line',
            
            data: {
                labels: ["08:00", "12:00", "16:00", "20:00", "0:00"],   
                datasets: [
                {% for n in parsed_string["Activity"] %}
                {
                        label: "{{n["Date"]}}",
                        backgroundColor: [
                            getRandomRgba(2),
                        ],
                        borderColor: [
                            getRandomRgba(7),
                        ],
                        borderWidth: 2,
                        data: [{{n["08:00"]}}, {{n["12:00"]}}, {{n["16:00"]}}, {{n["20:00"]}}, {{n["0:00"]}}]
                    },
                {%endfor%}
                ]
            },
            options: {
                responsive: true
            }
        });
</script>
<script>
	   function getRandomRgba(opacity) {
           var num = Math.round(0xffffff * Math.random());
           var r = num >> 16;
           var g = num >> 8 & 255;
           var b = num & 255;
           return 'rgba(' + r + ', ' + g + ', ' + b + ', .' + opacity + ')';
        }
        //radar
        var ctxR = document.getElementById("radarChart").getContext('2d');
        var myRadarChart = new Chart(ctxR, {
            type: 'radar',
            data: {
                labels: ["red blood cell", "hemoglobin", "hematocrit", "white blood cell count", "platelet count"],
                datasets: [
                {% for n in parsed_string["Blood test"] %}
                {
                    label: "{{n["Date"]}}",
                    data: [{{n["Red blood cell"]}}, {{n["Hemoglobin"]}}, {{n["Hematocrit"]}}, {{n["White blood cell count"]}}, {{n["Platelet count"]}}],
                    backgroundColor: [
                        getRandomRgba(2),
                    ],
                    borderColor: [
                        getRandomRgba(7),
                    ],
                    borderWidth: 2
                }, 
                {%endfor%}
                ]
            },
            options: {
                responsive: true
            }
        });
</script>
<script>        
	   function getRandomRgba(opacity) {
           var num = Math.round(0xffffff * Math.random());
           var r = num >> 16;
           var g = num >> 8 & 255;
           var b = num & 255;
           return 'rgba(' + r + ', ' + g + ', ' + b + ', .' + opacity + ')';
        }        
         //radar
        var ctxR = document.getElementById("vectorChart").getContext('2d');
        var myRadarChart = new Chart(ctxR, {
            type: 'radar',
            data: {
                labels: ["Sleep", "Food", "Temperature", "Activity", "Analises"],
                datasets: [
                {% for n in parsed_string["Healthvector"] %}
                {
                    label: "{{n["Date"]}}",
                    data: [{{n["Sleep"]}}, {{n["Food"]}}, {{n["Temperature"]}}, {{n["Sport"]}}, {{n["Analises"]}}],
                    backgroundColor: [
                        'rgba(0, 250, 220, .2)',
                    ],
                    borderColor: [
                        'rgba(0, 213, 132, .7)',
                    ],
                    borderWidth: 2
                },
                {%endfor%}
                ]
            },
            options: {
                responsive: true
            }
        });

</script>
<script>

        //doughnut
        var ctxD = document.getElementById("doughnutChart").getContext('2d');         
        var drnks = 0;
        var fstfd = 0;
        var grwfd = 0;
        var alchl = 0;
        {% for n in parsed_string["Food"] %}
          fstfd = fstfd + {{n["Fast food"]}};
          grwfd = grwfd + {{n["Grow food"]}};
          alchl = alchl + {{n["Alcohol"]}};
          drnks = drnks + {{n["Drinks"]}};                
        {%endfor%}
        var myLineChart = new Chart(ctxD, {
            type: 'doughnut',
            data: {
                labels: ["Fast food", "Grow food", "Drinks", "Alcohol"],
                datasets: [
          
                    {
                    data: [fstfd, grwfd, drnks, alchl],
                    backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1"],
                    hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5"]
                    }
                ]
            },
            options: {
                responsive: true
            }
        });
    </script>

    <!--Google Maps-->
    <script src="https://maps.google.com/maps/api/js"></script>
    <script>
        // Regular map
        function regular_map() {
            var var_location = new google.maps.LatLng(40.725118, -73.997699);

            var var_mapoptions = {
                center: var_location,
                zoom: 14
            };

            var var_map = new google.maps.Map(document.getElementById("map-container"),
                var_mapoptions);

            var var_marker = new google.maps.Marker({
                position: var_location,
                map: var_map,
                title: "New York"
            });
        }

        // Initialize maps
        google.maps.event.addDomListener(window, 'load', regular_map);
    </script>

</body>

</html>
